<div class="col-xs-3">
      <h2>User info</h2>
      <%= attachment_image_tag user, :profile_image, size:'100x100', fallback: "no_image.jpg" %>
      <table class="table">
        <tr>
          <td>
            <strong>name</strong>
          </td>
          <td>
            <strong><%= user.name %><strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>introduction</strong>
          </td>
          <td>
            <strong><%= user.introduction %></strong>
          </td>
        </tr>
      </table>
        <%= link_to edit_user_path(user), class: 'btn btn-default btn-block' do %>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        <% end %>
      <h2>New book</h2>
      <%= form_for(book, url: '/books') do |f| %>
      <div class="form-group">
        <h5>Title</h5>
          <div class="row">
            <%= f.text_field :title, class: "form-control" %>
          </div>
      </div>
      <div class="form-group">
        <h5>Opinion</h5>
          <div class="row">
            <%= f.text_area :body, class: "form-control" %>
          </div>
      </div>
      <div class="form-group">
        <div class="row">
          <%= f.submit "Create Book", class: "btn btn-primary btn-block" %>
        </div>
      </div>
      <% end %>
    </div>